In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('2021-22.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216722 entries, 0 to 216721
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   GRID_TYPE            216722 non-null  object
 1   GAME_ID              216722 non-null  int64
 2   GAME_EVENT_ID        216722 non-null  int64
 3   PLAYER_ID            216722 non-null  int64
 4   PLAYER_NAME          216722 non-null  object
 5   TEAM_ID              216722 non-null  int64
 6   TEAM_NAME            216722 non-null  object
 7   PERIOD               216722 non-null  int64
 8   MINUTES_REMAINING    216722 non-null  int64
 9   SECONDS_REMAINING    216722 non-null  int64
 10  EVENT_TYPE           216722 non-null  object
 11  ACTION_TYPE          216722 non-null  object
 12  SHOT_TYPE            216722 non-null  object
 13  SHOT_ZONE_BASIC      216722 non-null  object
 14  SHOT_ZONE_AREA       216722 non-null  object
 15  SHOT_ZONE_RANGE      216722 non-null  object
 16  SHOT_DISTANCE        216722 non-null  int64
 17  LOC_X                216722 non-null  int64
 18  LOC_Y                216722 non-null  int64
 19  SHOT_ATTEMPTED_FLAG  216722 non-null  int64
 20  SHOT_MADE_FLAG       216722 non-null  int64
 21  GAME_DATE            216722 non-null  int64
 22  HTM                  216722 non-null  object
 23  VTM                  216722 non-null  object
dtypes: int64(13), object(11)
memory usage: 39.7+ MB

In [5]:
df.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,22100001,7,1628960,Grayson Allen,1610612749,Milwaukee Bucks,1,11,42,...,Left Side Center(LC),24+ ft.,26,-164,210,1,0,20211019,MIL,BKN
1,Shot Chart Detail,22100001,15,203507,Giannis Antetokounmpo,1610612749,Milwaukee Bucks,1,11,13,...,Center(C),24+ ft.,26,0,263,1,0,20211019,MIL,BKN
2,Shot Chart Detail,22100001,18,203507,Giannis Antetokounmpo,1610612749,Milwaukee Bucks,1,11,1,...,Center(C),8-16 ft.,14,5,147,1,0,20211019,MIL,BKN
3,Shot Chart Detail,22100001,20,1629651,Nic Claxton,1610612751,Brooklyn Nets,1,10,47,...,Center(C),Less Than 8 ft.,0,1,4,1,1,20211019,MIL,BKN
4,Shot Chart Detail,22100001,22,203507,Giannis Antetokounmpo,1610612749,Milwaukee Bucks,1,10,31,...,Center(C),8-16 ft.,10,15,104,1,0,20211019,MIL,BKN

In [6]:
df.loc[df['PLAYER_NAME'] == 'Nikola Jokic']

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
2062,Shot Chart Detail,22100012,7,203999,Nikola Jokic,1610612743,Denver Nuggets,1,11,45,...,Center(C),16-24 ft.,18,43,179,1,1,20211020,PHX,DEN
2074,Shot Chart Detail,22100012,42,203999,Nikola Jokic,1610612743,Denver Nuggets,1,8,8,...,Center(C),Less Than 8 ft.,0,-5,1,1,1,20211020,PHX,DEN
2085,Shot Chart Detail,22100012,67,203999,Nikola Jokic,1610612743,Denver Nuggets,1,5,35,...,Center(C),Less Than 8 ft.,7,-61,38,1,1,20211020,PHX,DEN
2088,Shot Chart Detail,22100012,73,203999,Nikola Jokic,1610612743,Denver Nuggets,1,5,9,...,Center(C),Less Than 8 ft.,6,7,62,1,1,20211020,PHX,DEN
2090,Shot Chart Detail,22100012,77,203999,Nikola Jokic,1610612743,Denver Nuggets,1,4,39,...,Center(C),24+ ft.,25,38,248,1,0,20211020,PHX,DEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211577,Shot Chart Detail,22101201,582,203999,Nikola Jokic,1610612743,Denver Nuggets,4,5,51,...,Center(C),Less Than 8 ft.,3,16,33,1,0,20220407,DEN,MEM
211579,Shot Chart Detail,22101201,586,203999,Nikola Jokic,1610612743,Denver Nuggets,4,5,20,...,Center(C),Less Than 8 ft.,3,-22,23,1,1,20220407,DEN,MEM
211581,Shot Chart Detail,22101201,600,203999,Nikola Jokic,1610612743,Denver Nuggets,4,4,28,...,Center(C),Less Than 8 ft.,2,9,26,1,0,20220407,DEN,MEM
211582,Shot Chart Detail,22101201,602,203999,Nikola Jokic,1610612743,Denver Nuggets,4,4,26,...,Center(C),Less Than 8 ft.,0,0,0,1,1,20220407,DEN,MEM
211583,Shot Chart Detail,22101201,605,203999,Nikola Jokic,1610612743,Denver Nuggets,4,4,5,...,Center(C),Less Than 8 ft.,2,-23,8,1,1,20220407,DEN,MEM

## Create new data frame for rows containing the player Nikola Jokic

In [7]:
df1 = df.loc[df['PLAYER_NAME'] == 'Nikola Jokic']

In [8]:
df1.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
2062,Shot Chart Detail,22100012,7,203999,Nikola Jokic,1610612743,Denver Nuggets,1,11,45,...,Center(C),16-24 ft.,18,43,179,1,1,20211020,PHX,DEN
2074,Shot Chart Detail,22100012,42,203999,Nikola Jokic,1610612743,Denver Nuggets,1,8,8,...,Center(C),Less Than 8 ft.,0,-5,1,1,1,20211020,PHX,DEN
2085,Shot Chart Detail,22100012,67,203999,Nikola Jokic,1610612743,Denver Nuggets,1,5,35,...,Center(C),Less Than 8 ft.,7,-61,38,1,1,20211020,PHX,DEN
2088,Shot Chart Detail,22100012,73,203999,Nikola Jokic,1610612743,Denver Nuggets,1,5,9,...,Center(C),Less Than 8 ft.,6,7,62,1,1,20211020,PHX,DEN
2090,Shot Chart Detail,22100012,77,203999,Nikola Jokic,1610612743,Denver Nuggets,1,4,39,...,Center(C),24+ ft.,25,38,248,1,0,20211020,PHX,DEN

In [27]:
## Event type contains the result of the shot

In [8]:
df1['EVENT_TYPE'].unique()

array(['Made Shot', 'Missed Shot'], dtype=object)

In [9]:
df1['EVENT_TYPE'].value_counts()

Made Shot      764
Missed Shot    547
Name: EVENT_TYPE, dtype: int64

## Calculating the overall percentage of shots, Shot Percentage = Made shots / Total shots

In [10]:
shots = df1['EVENT_TYPE'].value_counts()

In [11]:
shotPercentage = shots['Made Shot']/[shots['Made Shot'] + shots['Missed Shot']]*100
print(shotPercentage)

[58.2761251]

## Calculating the percentage efficiency from each range

In [12]:
df1['SHOT_ZONE_RANGE'].value_counts()

Less Than 8 ft.    804
24+ ft.            285
8-16 ft.           158
16-24 ft.           61
Back Court Shot      3
Name: SHOT_ZONE_RANGE, dtype: int64

In [13]:
df2 = df1.filter(['EVENT_TYPE','SHOT_ZONE_RANGE'])

In [14]:
df2.head(10)

       EVENT_TYPE  SHOT_ZONE_RANGE
2062    Made Shot        16-24 ft.
2074    Made Shot  Less Than 8 ft.
2085    Made Shot  Less Than 8 ft.
2088    Made Shot  Less Than 8 ft.
2090  Missed Shot          24+ ft.
2101  Missed Shot  Less Than 8 ft.
2102    Made Shot  Less Than 8 ft.
2132  Missed Shot          24+ ft.
2142    Made Shot         8-16 ft.
2145    Made Shot          24+ ft.

In [15]:
df2['SHOT_ZONE_RANGE'].value_counts()

Less Than 8 ft.    804
24+ ft.            285
8-16 ft.           158
16-24 ft.           61
Back Court Shot      3
Name: SHOT_ZONE_RANGE, dtype: int64

In [16]:
df2['SHOT_ZONE_RANGE'].unique()

array(['16-24 ft.', 'Less Than 8 ft.', '24+ ft.', '8-16 ft.',
       'Back Court Shot'], dtype=object)

In [17]:
df2.loc[df['EVENT_TYPE'] == 'Made Shot'].value_counts('SHOT_ZONE_RANGE').reindex(
    df2.SHOT_ZONE_RANGE.unique(), fill_value=0)

SHOT_ZONE_RANGE
16-24 ft.           28
Less Than 8 ft.    549
24+ ft.             97
8-16 ft.            90
Back Court Shot      0
dtype: int64

In [18]:
fieldgoalsattempted = df2['SHOT_ZONE_RANGE'].value_counts().rename_axis('RANGE').reset_index(name='FGA')
print (fieldgoalsattempted)

             RANGE  FGA
0  Less Than 8 ft.  804
1          24+ ft.  285
2         8-16 ft.  158
3        16-24 ft.   61
4  Back Court Shot    3

In [19]:
fieldgoalsmade = df2.loc[df['EVENT_TYPE'] == 'Made Shot'].value_counts('SHOT_ZONE_RANGE').reindex(
    df2.SHOT_ZONE_RANGE.unique(), fill_value=0).rename_axis('RANGE').reset_index(name='FGM')
print (fieldgoalsmade)

             RANGE  FGM
0        16-24 ft.   28
1  Less Than 8 ft.  549
2          24+ ft.   97
3         8-16 ft.   90
4  Back Court Shot    0

In [20]:
fieldgoals = pd.merge(fieldgoalsmade, fieldgoalsattempted)
print(fieldgoals)

             RANGE  FGM  FGA
0        16-24 ft.   28   61
1  Less Than 8 ft.  549  804
2          24+ ft.   97  285
3         8-16 ft.   90  158
4  Back Court Shot    0    3

In [21]:
fieldgoals['AVERAGE'] = (fieldgoals['FGM'] / fieldgoals['FGA'])*100

In [22]:
avgField = fieldgoals.sort_values(by=['AVERAGE'], ascending=False)
print(avgField)

             RANGE  FGM  FGA    AVERAGE
1  Less Than 8 ft.  549  804  68.283582
3         8-16 ft.   90  158  56.962025
0        16-24 ft.   28   61  45.901639
2          24+ ft.   97  285  34.035088
4  Back Court Shot    0    3   0.000000

## Total Points (not including free throws)

In [25]:
madeshots = df1.loc[df['EVENT_TYPE'] == 'Made Shot']

In [169]:
madeshots.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
2062,Shot Chart Detail,22100012,7,203999,Nikola Jokic,1610612743,Denver Nuggets,1,11,45,...,Center(C),16-24 ft.,18,43,179,1,1,20211020,PHX,DEN
2074,Shot Chart Detail,22100012,42,203999,Nikola Jokic,1610612743,Denver Nuggets,1,8,8,...,Center(C),Less Than 8 ft.,0,-5,1,1,1,20211020,PHX,DEN
2085,Shot Chart Detail,22100012,67,203999,Nikola Jokic,1610612743,Denver Nuggets,1,5,35,...,Center(C),Less Than 8 ft.,7,-61,38,1,1,20211020,PHX,DEN
2088,Shot Chart Detail,22100012,73,203999,Nikola Jokic,1610612743,Denver Nuggets,1,5,9,...,Center(C),Less Than 8 ft.,6,7,62,1,1,20211020,PHX,DEN
2102,Shot Chart Detail,22100012,124,203999,Nikola Jokic,1610612743,Denver Nuggets,1,2,13,...,Center(C),Less Than 8 ft.,0,0,0,1,1,20211020,PHX,DEN

In [26]:
totalshots = madeshots['SHOT_TYPE'].value_counts().tolist()
print(totalshots)

[667, 97]

In [ ]:
## 2 point field goal is worth 2 points, 3 point field goal is worth 3 points

In [27]:
def points(lst):
    x=lst[0]
    y=lst[1]
    return (x*2) + (y*3)

In [31]:
(points(totalshots))+379

2004

In [ ]:
## Nikola Jokic made 379 free throws in the 2021-22 season
## each free throw is worth 1 point so we add free throws made to the total points.

## Most popular shot zone area

In [155]:
df1['SHOT_ZONE_BASIC'].unique()

array(['Mid-Range', 'Restricted Area', 'In The Paint (Non-RA)',
       'Above the Break 3', 'Right Corner 3', 'Left Corner 3',
       'Backcourt'], dtype=object)

In [156]:
df1['SHOT_ZONE_BASIC'].value_counts()

Restricted Area          487
In The Paint (Non-RA)    409
Above the Break 3        274
Mid-Range                127
Left Corner 3              6
Right Corner 3             5
Backcourt                  3
Name: SHOT_ZONE_BASIC, dtype: int64

## Most popular scoring action

In [157]:
df1['ACTION_TYPE'].unique()

array(['Pullup Jump shot', 'Reverse Layup Shot', 'Hook Shot', 'Jump Shot',
       'Tip Layup Shot', 'Turnaround Jump Shot', 'Running Layup Shot',
       'Cutting Layup Shot', 'Running Finger Roll Layup Shot',
       'Fadeaway Jump Shot', 'Driving Floating Jump Shot', 'Layup Shot',
       'Turnaround Hook Shot', 'Driving Reverse Layup Shot',
       'Jump Bank Shot', 'Driving Layup Shot', 'Floating Jump shot',
       'Turnaround Fadeaway shot', 'Putback Layup Shot',
       'Driving Finger Roll Layup Shot', 'Cutting Dunk Shot',
       'Driving Floating Bank Jump Shot', 'Running Dunk Shot',
       'Turnaround Bank Hook Shot', 'Dunk Shot', 'Driving Hook Shot',
       'Cutting Finger Roll Layup Shot', 'Finger Roll Layup Shot',
       'Driving Dunk Shot', 'Running Jump Shot',
       'Running Pull-Up Jump Shot', 'Step Back Jump shot',
       'Hook Bank Shot', 'Turnaround Fadeaway Bank Jump Shot',
       'Running Reverse Layup Shot'], dtype=object)

In [167]:
df1.loc[df['EVENT_TYPE'] == 'Made Shot'].value_counts('ACTION_TYPE').head(10)

ACTION_TYPE
Jump Shot                     153
Layup Shot                     81
Turnaround Hook Shot           59
Floating Jump shot             59
Putback Layup Shot             41
Driving Layup Shot             37
Turnaround Jump Shot           34
Driving Floating Jump Shot     34
Cutting Layup Shot             33
Tip Layup Shot                 32
dtype: int64